.addAttendance-form {
  .attendance-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .addAttendance_main-form {
    .attendance_date {
      display: flex;
      .date_label {
        width: 22%;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }
    }
    .attendance-check {
      display: flex;
      justify-content: center;
    }
  }
  .table > thead {
    vertical-align: bottom;
    position: sticky;
    top: 0;
    background: white;
  }

  .attendanceDivList {
    overflow: auto;
    height: 400px;
  }
  .dates{
    height: 40px;
    width: 25%;
    margin-left: -30px;
  }
}
