.addAttendance-form {
  .attendance-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
    .add-button {
      background-color: #0d6efd;
      color: white;
      border-color: #0d6efd;
    }
    .close-button {
      background-color: gray;
      color: white;
      border-color: gray;
    }
  }
  .addAttendance_main-form {
    .attendance_date {
      display: flex;
      gap: 10px;
      .date_label {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }
    }
    .attendance-check {
      display: flex;
      justify-content: center;
    }
  }
  .table > thead {
    vertical-align: bottom;
    position: sticky;
    top: 0;
    background: white;
  }

  .attendanceDivList {
    overflow: auto;
    height: 400px;
  }
  .dates {
    height: 40px;
    // width: 25%;
  }
}
