.attendance-main {
  border: 1px solid black;
  border-radius: 5px;
  height: calc(100% - 125px);
  margin: 20px;
  .sub-main-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    .attendance-div-btn {
      margin: 5px;
      .report-btn {
        margin-right: 5px;
        background-color: rgb(255 62 62);
        color: white;
        border-color: rgb(255 62 62);
      }
      .add-btn {
        background-color: #0d6efd;
        color: white;
        border-color: #0d6efd;
      }
    }
  }
  .show-search-main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .select-item-page {
      display: flex;
      padding: 5px;
    }
    .select-item-page p {
      margin: 2px;
    }
    .show-entries {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
    .input-number {
      height: 30px;
      width: 60px;
      margin: 5px;
    }
    .search-main {
      display: flex;
      align-items: center;
    }
    .input-search {
      margin: 5px 5px 5px 5px;
      width: 50%;
    }
  }
  .table-main-div {
    height: calc(100% - 145px);
    overflow: auto;
    padding: 0px 15px;
    .table {
      // border: 1px solid black;
      border-radius: 5px;
      .table-head {
        position: sticky;
        top: 0;
        background: white;
      }
    }
  }
  .pagination-main {
    display: flex;
    justify-content: end;
    padding: 15px;
  }
  .pagination {
    position: relative;
    justify-content: end;
    top: 20px;
    right: 10px;
  }
}
