.attendance-main {
  border: 1px solid black;
  border-radius: 5px;
  height: calc(100% - 125px);
  margin: 20px;
  .sub-main-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    .attendance-div-btn {
      margin: 5px;
      .report-btn {
        margin-right: 5px;
        background-color: rgb(253, 146, 146);
        color: white;
        border-color: rgb(253, 146, 146);
      }
      .add-btn {
        background-color: rgb(155, 255, 176);
        color: white;
        border-color: rgb(155, 255, 176);
      }
    }
  }
  .show-search-main {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .show-entries{
      display: flex;
    align-items: center;
    margin-left: 15px;
    }
    .input-number {
      height: 30px;
      width: 60px;
      margin: 5px;
    }
    .search-main{
      display: flex;
      align-items: center;
    }
    .input-search {
      margin: 5px 5px 5px 5px;
      width: 50%;
    }
  }
  .table-main-div {
    height: calc(100% - 145px);
    overflow: auto;
    padding: 0px 15px;
    .table {
      // border: 1px solid black;
      border-radius: 5px;
      .table-head {
        position: sticky;
        top: 0;
        background: white;
      }
    }
  }
  .pagination-main{
    display: flex;
    justify-content: end;
    padding: 15px;
  }
}
