.attendance-main {
  border: 1px solid black;
  height: calc(100% - 125px);
  margin: 20px;
  .sub-main-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
}
