.bankDetailsDiv {
  .headerText {
    color: #012169;
    margin: 1rem;
    font-weight: 600;
  }
  .detailsDiv {
    margin: 1rem;

    .titleDiv {
      color: #6a8299;
      font-weight: 400;
    }
    .infoDiv {
      color: #1a1515;
    }
  }
}
