.chart-main-div {
  display: flex;
  justify-content: space-evenly;
  .pie-graph-div {
    box-shadow: 2px 2px 2px 2px whitesmoke;
    .pie-canvas {
      height: 300px !important;
      width: 400px !important;
      padding: 15px;
    }
  }
  .canvas-graph-div {
    box-shadow: 2px 2px 2px 2px whitesmoke;
    .canvas-graph {
      height: 250px !important;
      width: 400px !important;
      padding: 15px;
    }
    // flex: 1;
  }
}
