.employeeDashboard {
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    // border: 1px solid #ccc;
    display: inline-block;
    color: red;
    padding: 6px 12px;
    cursor: pointer;
  }
}

.graph-dashboard {
  display: flex;
  align-items: center;
  padding: 20px;
  .select-date {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    .date-title {
      margin-right: 10px;
      font-weight: bold;
    }
  }
  .fetch-btn {
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background: #f2f2f2;
  }
  .dashboard-date {
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background: #f2f2f2;
  }
  .dashboard-date:focus-visible {
    border-width: 1px !important;
  }
}

.dashboard-cards {
  background-color: #f2f2f2;
  cursor: pointer;
}
