.employeeDashboard {
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    // border: 1px solid #ccc;
    display: inline-block;
    color: red;
    padding: 6px 12px;
    cursor: pointer;
  }
}

.graph-dashboard{
  display: flex;
  align-items: center;
  padding: 20px;
  .select-date{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    .date-title{
      margin-right: 10px;
    font-weight: bold;
    }
  }
}

.chart-main-div{
  display: flex;
  .pie-graph-div{
    height: 600px;
    width: 600px;
  }
}