$primary: #f2f2f2;
$secondary: #4b4b55;
$danger: #c64442;
$light: #ffffff;
$dark: #000000;
$warning: darkgray;
$success: green;
$info: rgb(0, 242, 255);

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}
