@import "./index.css";
@import "./styles/logIn.scss";
@import "./styles/reactInput";
@import "./styles/variables";
@import "./styles/employee";
@import "./styles/profileDetail";
@import "./styles/holiday";
@import "./styles/personalDetails";
@import "./styles/education";
@import "./styles/bankAccounts";
@import "./styles/documents";
@import "./styles/dashboard";
@import "./styles/project";
@import "./styles/leave";
@import "./styles/leaveForm";
@import "./styles/salary";
@import "./styles/loadingSpinner";
@import "./styles/attendance";
@import "./styles/addAttendance";
@import "./styles/chart";
@import "./styles/dropDown";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.loaderDiv {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
  margin-top: 30%;
  margin-left: 150%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
